.descripcion {
  width: 100%;
  height: 100vh;
  text-align: center;
}

.wrapper {
  display: inline;
}
.bio {
  font-size: x-large;
  line-height: 50px;
  margin: 5rem;
}
.name {
  font-size: x-large;
  font-weight: 700;
}
